{% extends 'partials/base.html' %}
{% block title %}Login Page{% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Login Page</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}
                
                <!-- Render each form field individually -->
                <div class="form-group">
                    <label for="id_username">Username:</label>
                    <input type="text" class="form-control" id="id_username" name="username">
                </div>
                
                <div class="form-group">
                    <label for="id_password">Password:</label>
                    <input type="password" class="form-control" id="id_password" name="password">
                </div>
                
                <input class="btn btn-success" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>
{% endblock %}
